html.hide-content {
    visibility: hidden;
    opacity: 0;
  }
  html.show-content {
    visibility: visible;
    opacity: 1;
  }
  .wf-loading * {
  	opacity: 0;
  } 
  .letter {
  	display: inline-block;
  }
  .tricksword {
  	white-space: nowrap;
    display: inline-block;
  }
  .splide__track {
    overflow: visible;
  }
  html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .lenis.lenis-scrolling iframe {
     pointer-events: none;
  }
  .slider-video {
     opacity: 0;
     transition: opacity 0.1s ease;
  }
  .active-video {
      opacity: 1 !important;
  }
  .lottie-animation svg {
  	display: block;
  }
  #CursorContainerID {
      opacity: 0;
      transition: opacity 0.5s ease;
  }
  .studio-text-indent {
    display: inline-block;
    margin-left: 25%;
  }
  .sticky-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border: none;
  }
  .splide__sr {
    display: none !important;
  }
  .splide__pagination {
  	margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vw;
    height: 6px;
    overflow: hidden;
  }
  .splide__pagination li {
  	width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .splide__pagination li .splide__pagination__page {
  	width: 100%;
    height: 100%;
    padding: 0;
    background: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
  }
  .splide__pagination li .splide__pagination__page.is-active {
  	background: #1D1D1D;
  }
  .slider1, .splide__slide, .splide__track {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transform-style: preserve-3d;
  }
  .splide-dragging .splide__slide {
      pointer-events: none;
      transition: none !important;
  }
  .splide__slide:active {
      -webkit-tap-highlight-color: transparent;
  }
  .home-slider-container .splide__track {
  	padding-right: 16vw !important;
  }
	.swiper-slide {
  	display: flex;
    align-items: center;
    justify-content: center;
  }
	video.myVideoClass {
  	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  video.myVideoClass.portrait {
  	width: 110%;
  }
  
  video {
    font-size: 0 !important;
    color: transparent !important;
  }
  
  .logo-footer svg {
  	display: block;
  }
  @media screen and (max-width: 991px){
    .studio-text-indent {
      margin-left: 25%;
    }
    .splide__pagination {
      gap: 2vw;
      margin-top: 3vw;
    }
    .home-slider-container .splide__track {
      padding-right: 0 !important;
    }
  }
  @media screen and (max-width: 767px){
    .studio-text-indent {
      margin-left: 40%;
    }
  }